---
layout: default
seo:
  title: LIEDERLAUSCHEN am Rand - 2022
  description: >-
    Live Konzerte von deutschen und polnischen Singer-Songwritern, Rock- und
    Indie-Bands, Electronica und zahlreichen Workshops.
  social_image: /images_impressionen/imp_01.jpg
  keywords: liederlauschen am rand
  hide-from-google: false
banner:
  - overlay:
    column-size: col-12
    aspect-ratio: tall-60
    background_image: /images/Programm.jpg
llar:
  - title: Impressionen vom Rand
  - sub-heading: 2019
gallery:
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_05.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_06.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_10.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_11.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_12.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_13.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_54.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_55.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_30.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_29.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images_impressionen/imp_16.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_06.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_18.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_02.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_13.jpg
---
<!-- Intro Banner -->
<section class="grid">

    {% for item in page.banner %}
    <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}} {{ item.overlay }}" style="background-image: url('{{item.background_image}}');"> 
        </div>
    </div>
    {% endfor %}
 
 </section>

<!-- Gallery -->
<section class="center padded padded-t-1 capped-width-narrow">
    {% for item in page.llar%}

        <h1 class="bold center">{{ item.title }}</h1>
        <h2> {{item.sub-heading}} </h2>

    {% endfor %}
    
    <div class="gallery grid" id="lightgallery">

      {% for item in page.gallery %}
            
      <a class="{{item.column-size}}" href="{{item.background_image}}"> 
        <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
      </a>
    
      {% endfor %}
      
    </div>

</section>