---
layout: default
seo:
  title: LIEDERLAUSCHEN am Rand - 2022
  description: >-
    Live Konzerte von deutschen und polnischen Singer-Songwritern, Rock- und
    Indie-Bands, Electronica und zahlreichen Workshops.
  social_image: /images_impressionen/imp_01.jpg
  keywords: liederlauschen am rand
  hide-from-google: false
banner:
  - overlay:
    column-size: col-12
    aspect-ratio: tall-60
    background_image: /images/Programm.jpg
llar:
  - title: Impressionen vom Rand
  - sub-heading: 2019
gallery:
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_05.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_17.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_10.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_11.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_12.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_13.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_54.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_55.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_30.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_29.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_27.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_26.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_35.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_46.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /galerie/2019/2019_38.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_41.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_68.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_67.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_66.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_18.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_19.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_04.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_21.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_45.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_09.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_56.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_57.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_62.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_63.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_59.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2019/2019_60.jpg
---
<!-- Intro Banner 
<section class="grid">

    {% for item in page.banner %}
    <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}} {{ item.overlay }}" style="background-image: url('{{item.background_image}}');"> 
        </div>
    </div>
    {% endfor %}
 
 </section>
 -->

<!-- Gallery -->
<section class="padded padded-t-1 capped-width-narrow">
  <div class="padded-05">
    {% for item in page.llar%}

    <h1 class="bold center">{{ item.title }}</h1>
    <h2 class="center"> {{item.sub-heading}} </h2>

    {% endfor %}

    <div class="center padded-1 capped-width-narrow">  
      <a class ="link" href="/2020"> 2020 </a>
      <a class ="link" href="/2021"> 2021 </a>
      <a class ="link" href="/2022"> 2022 </a>
      <a class ="link" href="/programm"> 2023 </a>
   </div> 

    <p> Sollte ein Bild dabei sein, welches ihr nicht veröffentlicht sehen möchtet, meldet euch bitte bei uns per <a class="link" href="mailto:liederlauschenamrand@gmail.com"> Mail</a>. Wir werden das Bild dann umgehend entfernen. </p>
    <p> Fotos: © Liederlauschen, Joe Doe Photography & Design <br> Instagram: <a class="link" href="https://www.instagram.com/jdpd105/" target="_blank"> @jdpd105 </a> <br> Facebook: <a class="link" href="https://www.facebook.com/jdpd105" target="_blank"> @jdpd105 </a>  </p>
  
  </div>
    
    
    <div class="gallery grid" id="lightgallery">

      {% for item in page.gallery %}
            
      <a class="{{item.column-size}}" href="{{item.background_image}}"> 
        <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
      </a>
    
      {% endfor %}
      
    </div>

</section>