---
layout: default
seo:
  title: LIEDERLAUSCHEN am Rand - 2022
  description: >-
    Live Konzerte von deutschen und polnischen Singer-Songwritern, Rock- und
    Indie-Bands, Electronica und zahlreichen Workshops.
  social_image: /images_impressionen/imp_01.jpg
  keywords: liederlauschen am rand
  hide-from-google: false
banner:
  - overlay:
    column-size: col-12
    aspect-ratio: tall-60
    background_image: /images/Programm.jpg
llar:
  - title: Impressionen vom Rand
  - sub-heading: 2020
gallery:
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_21.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_06.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_03.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_27.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /galerie/2020/2020_12.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_19.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_22.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_21.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_02.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_38.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_39.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_50.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_53.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_49.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_56.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_15.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_16.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_61.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_62.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_40.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_67.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_69.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_68.jpg
---
<!-- Intro Banner -->
<section class="grid">

    {% for item in page.banner %}
    <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}} {{ item.overlay }}" style="background-image: url('{{item.background_image}}');"> 
        </div>
    </div>
    {% endfor %}
 
 </section>

<!-- Gallery -->
<section class="center padded padded-t-1 capped-width-narrow">
    {% for item in page.llar%}

        <h1 class="bold center">{{ item.title }}</h1>
        <h2> {{item.sub-heading}} </h2>

    {% endfor %}
    
    <div class="gallery grid" id="lightgallery">

      {% for item in page.gallery %}
            
      <a class="{{item.column-size}}" href="{{item.background_image}}"> 
        <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
      </a>
    
      {% endfor %}
      
    </div>

</section>