---
layout: default
seo:
  title: LIEDERLAUSCHEN am Rand - 2022
  description: >-
    Live Konzerte von deutschen und polnischen Singer-Songwritern, Rock- und
    Indie-Bands, Electronica und zahlreichen Workshops.
  social_image: /images_impressionen/imp_01.jpg
  keywords: liederlauschen am rand
  hide-from-google: false
banner:
  - overlay:
    column-size: col-12
    aspect-ratio: tall-60
    background_image: /images/Programm.jpg
llar:
  - title: Impressionen vom Rand
  - sub-heading: 2020
gallery:
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_21.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_06.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_03.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_27.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /galerie/2020/2020_12.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_19.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_22.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_21.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_02.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_05.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_31.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_26.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_20.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_38.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_39.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_50.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_53.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_74.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_76.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_71.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_70.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_49.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_56.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_15.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_16.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_61.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_62.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_40.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_67.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_69.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_68.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_85.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_83.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_84.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /galerie/2020/2020_86.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /galerie/2020/2020_65.jpg
---
<!-- Intro Banner 
<section class="grid">

    {% for item in page.banner %}
    <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}} {{ item.overlay }}" style="background-image: url('{{item.background_image}}');"> 
        </div>
    </div>
    {% endfor %}
 
 </section>
-->

<!-- Gallery -->
<section class="padded padded-t-1 capped-width-narrow">
    <div class="padded-05">
      {% for item in page.llar%}

      <h1 class="bold center">{{ item.title }}</h1>
      <h2 class="center"> {{item.sub-heading}} </h2>

      {% endfor %}

      <!--
      <div class="center padded-1">  
        <a class ="link" href="/2019"> 2019 </a>
        <a class ="link" href="/2021"> 2021 </a>
        <a class ="link" href="/2022"> 2022 </a>
        <a class ="link" href="/programm"> 2023 </a>
      </div> 
      -->
      <p> Sollte ein Bild dabei sein, welches ihr nicht veröffentlicht sehen möchtet, meldet euch bitte bei uns per <a class="link" href="mailto:liederlauschenamrand@gmail.com"> Mail</a>. Wir werden das Bild dann umgehend entfernen. </p>
      <p> Fotos: © Liederlauschen, Joe Doe Photography & Design <br> Instagram: <a class="link" href="https://www.instagram.com/jdpd105/" target="_blank"> @jdpd105 </a> <br> Facebook: <a class="link" href="https://www.facebook.com/jdpd105" target="_blank"> @jdpd105 </a>  </p>
    
    </div>
    
    <div class="gallery grid" id="lightgallery">

      {% for item in page.gallery %}
            
      <a class="{{item.column-size}}" href="{{item.background_image}}"> 
        <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
      </a>
    
      {% endfor %}
      
    </div>

</section>