---
layout: default
seo:
  title: LIEDERLAUSCHEN am Rand - Open Air Festival im Oderbruch
  description: >-
    Das Liederlauschen am Rand Festival vom 14.-16. Juli 2023 - drei Tage Musik,
    Spaß und Workshops direkt an der Oder.
  social_image: /images_impressionen/imp_01.jpg
  keywords: liederlauschen am rand- openair festival im oderbruch
  hide-from-google: false
banner:
  - overlay:
    background_image: /images2023/llar2023.jpg
llar:
  - title: 'Liederlauschen am Rand: drei Tage Musik, Spaß und Natur'
  - description: >-
      Das Liederlauschen am Rand Festival findet vom 14. bis 16. Juli im schönen
      Oderbruch statt. Wie immer auf dem Gelände vom Theater am Rand und den
      umliegenden Oderwiesen. Drei Tage lang könnt ihr euch auf Live Konzerte
      von deutschen und polnischen Bands freuen. Außerdem stehen zahlreiche
      Workshops und jede Menge weiterer Attraktionen auf dem Programm.
  - description: Campen könnt ihr das gesamte Wochenende rund um das Festivalgelände.
  - description: >-
      Wir verstehen uns als überschaubares, familienfreundliches und
      umweltbewusstes Open Air. Deshalb limitieren wir uns auch auf wenige
      Hundert Gäste. Gemeinsam mit unseren polnischen Nachbarn wollen wir zum
      fünften Mal in Folge ein großartiges Festival veranstalten. Freut euch auf
      ein unvergessliches Wochenende mit jeder Menge Spaß und guter Laune.
  - description: >-
      Wir feiern das Liederlauschen am Rand immer am Anfang der Sommerferien im
      wunderschönen Oderbruch. Startet doch Euren Ferienbeginn mal mit dem
      Fahrrad in der Schorfheide bis zum Oderbruch und feiert als Höhepunkt mit
      uns gemeinsam das Liederlauschen am Rand, direkt an der Oder!
programm:
  - background_image: /images_impressionen/imp_24.jpg
    title: Programm am Rand
    description: Hier gehts zum LineUp und unseren Künstlern.
natur:
  - background_image: /images/home_natur.jpg
    title: Natur am Rand
    description: >-
      Stadt – Land – Heimat. Das ist für uns der Wunsch nach Vielfalt und
      Vertrautheit. Wir möchten den kulturellen Reichtum der Stadt mit dem
      natürlichen Reichtum des Landes zusammenbringen und nachhaltig verbinden. 
gallery:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_07.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_21.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_04.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images_impressionen/imp_16.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_17.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_09.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_06.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_18.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_02.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_13.jpg
blog-header: Alles rund um nachhaltige Festivals
blog-text: >-
  Wir sind ein kleines Festival und das aus gutem Grund. Wir möchten weder uns
  noch dem Ort und schon gar nicht der Natur zur Last fallen. Wir freuen uns
  deshalb auf ein kleines, feines Fest mit Euch und großartigen Künstlern. Neben
  der Vorfreude habt Ihr sicherlich einige organisatorische Fragen, die wir
  nachfolgend so gut wie es der aktuelle Planungsstand zulässt, beantworten
  wollen.
---
<!-- Intro Banner -->
{% for item in page.banner %}
<section class="grid padded bg-image {{ item.overlay }} tall-80" style="background-image: url('{{item.background_image}}');">
{% endfor %}

    <div class="col-12-middle center padded-1">
        <p class="editable"> </p>
        <p class="padded-2 editable">
            
        </p>
        <a href="https://www.eventbrite.de/e/liederlauschen-am-rand-2023-ein-polnisch-deutscher-oderbuch-tickets-484878654107?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=escb" class="button button-tickets editable" target="_blank"> Tickets </a>
    </div>
</section>


<!--------------- LLAR Section --------------->
<section class="grid-center-middle tall-60">
    <div class="col-9_sm-12 padded padded-t-1">

      {% for item in page.llar%}

        <h1 class="bold center">{{ item.title }}</h1>
        <p class="padded-t-1"> {{item.description}} </p>

      {% endfor %}

      <div class="center">
        <a class="button button-light editable" href="/idee">Weiterlesen</a>
      </div>
        
    </div>
</section>



<!--------------- PAR Section --------------->
{% for item in page.programm %}
<section class="grid-center-middle padded-1 tall-70 bg-image bg-overlay" style="background-image: url('{{item.background_image}}');">

    <div class="col-9_sm-12-bottom center padded white">
        <h2 class="white">{{ item.title }}</h2>
        <p class="white bg-text">{{ item.description }}</p>
        
        {% endfor %}

        <a class="button editable" href="/programm">Weiterlesen</a>
    </div>
</section>


<!-- Gallery -->
<section class="center padded capped-width-narrow">
    <h2> Impressionen vom Rand </h2>
    <div class="gallery grid" id="lightgallery">

      {% for item in page.gallery %}
            
      <a class="{{item.column-size}}" href="{{item.background_image}}"> 
        <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
      </a>
    
      {% endfor %}
      
    </div>

</section>


<!--------------- NAR Section --------------->
{% for item in page.natur %}
<section class="grid-center-middle padded-1 tall-70 bg-image bg-overlay" style="background-image: url('{{item.background_image}}');">


    <div class="col-9_sm-12-bottom center padded white">
        <h2 class="white">{{ item.title }}</h2>
        <p class="white bg-text"> {{ item.description }} </p>

        {% endfor %}

        <a class="button editable" href="/idee">Weiterlesen</a>
    </div>
</section>


<!------------------------ Featured blog loop 
<section class="padded bg-dark">

  <div class="capped-width grid-center">

      <div class="col-12 padded-1 center margin-b-1">
          <h2> {{ page.blog-header }} 
          <p class="editable"> {{ page.blog-text }}</p>
      

      {% assign featured_posts = site.posts | where: 'featured', true %}

      {% for post in featured_posts limit:3 %}

          <div class="col-4_sm-6_xs-12 padded-1">
              <a href="{{ post.url }}">
                <div class="bg-image-blog square post-item" style="background-image:url('{{ post.featured_image }}')"> </div>
              </a>
              <div class="padded-t-1">
                  
                  {% for item in post.categories %}
                      <span class="tag"> {{item}} </span>
                  {% endfor %}

                  <h3 class="margin-t-1"> {{ post.title }} </h3>
                  <p> {{ post.description }} </p>
                  <a href="{{ post.url }}" class="subtle-button post-item"> Read More </a>

              </div>
          </div>

      {% endfor %}

  
  
------------------------>