---
layout: default
seo:
  title: Für alle Musik- und Natur-Liebhaber, Familien und Fahrradfreunde!
  description: >-
    Ein multi-genre Musik Festival von Elektro, Funk, Reggae, Soul und Folk über
    Jazz, HipHop, Punk, Rock oder Klassik.
  social_image: /images_impressionen/imp_01.jpg
  keywords: liederlauschen am rand
  hide-from-google: false
banner:
  - overlay:
    background_image: /images2023/llar2023.jpg
llar:
  - title: Liederlauschen am Rand
  - description: >-
      Vom 14. bis 16.07.2023 feiern wir mit Euch zum 5. Mal in Folge  3 Tage
      lang die polnisch-deutsche Nachbarschaft. Für alle Musik- und
      Natur-Liebhaber, Familien und Fahrradfreunde! 
  - title:
    description: >-
      Ein multi-genre Musik Festival von Elektro, Funk, Reggae, Soul und Folk
      über Jazz, HipHop, Punk, Rock und viel dazwischen.
  - title:
    description: >-
      Vielfältige Workshops und Aktionen. Kulinarische Gaumenfreuden.
      Fantastische Sonnenaufgänge und Sonnenuntergänge. 
  - title:
    description: >-
      Wir feiern das Liederlauschen am Rand immer am Anfang der Sommerferien im
      wunderschönen Oderbruch. Startet doch Euren Ferienbeginn mal mit dem
      Fahrrad in der Schorfheide bis zum Oderbruch und feiert als Höhepunkt mit
      uns gemeinsam das Liederlauschen am Rand, direkt an der Oder!
programm:
  - background_image: /images_impressionen/imp_24.jpg
    title: Programm am Rand
    description: Hier gehts zum LineUp und unseren Künstlern.
natur:
  - background_image: /images/home_natur.jpg
    title: Natur am Rand
    description: >-
      Stadt – Land – Heimat. Das ist für uns der Wunsch nach Vielfalt und
      Vertrautheit. Wir möchten den kulturellen Reichtum der Stadt mit dem
      natürlichen Reichtum des Landes zusammenbringen und nachhaltig verbinden. 
gallery:
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_07.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_21.jpg
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_04.jpg
  - column-size: col-12
    aspect-ratio: landscape
    background_image: /images_impressionen/imp_16.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_17.jpg
  - column-size: col-6_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_09.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_06.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_18.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_02.jpg
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images_impressionen/imp_13.jpg
---
<!-- Intro Banner -->
{% for item in page.banner %}
<section class="grid padded bg-image {{ item.overlay }} tall-80" style="background-image: url('{{item.background_image}}');">
{% endfor %}

    <div class="col-12-middle center padded-1">
        <h1 class="editable">
            
        </h1>
        <p class="padded-2 editable">
            
        </p>
        <a href="/tickets" class="button button-tickets editable"> Tickets </a>
    </div>
</section>


<!--------------- LLAR Section --------------->
<section class="grid-center-middle tall-60">
    <div class="col-9_sm-12 center padded">

      {% for item in page.llar%}

        <h2>{{ item.title }}</h2>
        <p class="padded-t-1"> {{item.description}} </p>

      {% endfor %}

        <a class="button button-light editable" href="/idee">Weiterlesen</a>
    </div>
</section>



<!--------------- PAR Section --------------->
{% for item in page.programm %}
<section class="grid-center-middle padded-1 tall-70 bg-image bg-overlay" style="background-image: url('{{item.background_image}}');">

    <div class="col-9_sm-12-bottom center padded white">
        <h2 class="white">{{ item.title }}</h2>
        <p class="white bg-text">{{ item.description }}</p>
        
        {% endfor %}

        <a class="button editable" href="/programm">Weiterlesen</a>
    </div>
</section>


<!-- Gallery -->
<section class="center padded capped-width-narrow">
    <h2> Impressionen vom Rand </h2>
    <div class="gallery grid" id="lightgallery">

      {% for item in page.gallery %}
            
      <a class="{{item.column-size}}" href="{{item.background_image}}"> 
        <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> </div>
      </a>
    
      {% endfor %}
      
    </div>

</section>


<!--------------- NAR Section --------------->
{% for item in page.natur %}
<section class="grid-center-middle padded-1 tall-70 bg-image bg-overlay" style="background-image: url('{{item.background_image}}');">


    <div class="col-9_sm-12-bottom center padded white">
        <h2 class="white">{{ item.title }}</h2>
        <p class="white bg-text"> {{ item.description }} </p>

        {% endfor %}

        <a class="button editable" href="/idee">Weiterlesen</a>
    </div>
</section>
