---
layout: default
seo:
   title: liederlauschenamrand
   description: >-
      lorem ipsum
   social_image:
   keywords: >-
      lorem ipsum
   hide-from-google: true
banner:
 - column-size: col-12
   aspect-ratio: tall-60
   background_image: /images/plants.jpg
gallery:
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images/plants.jpg
    type: dog
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images/plants.jpg
    type: dog
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images/plants.jpg
    type: dog
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images/plants.jpg
    type: cat
gallery-two:
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images/plants.jpg
    type: dog
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images/plants.jpg
    type: dog
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images/plants.jpg
    type: dog
  - column-size: col-3_sm-12
    aspect-ratio: square
    background_image: /images/plants.jpg
    type: cat
---
<!-- Intro Banner -->
<section class="grid">

    {% for item in page.banner %}
    <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}} bg-overlay" style="background-image: url('{{item.background_image}}');"> 
        </div>
    </div>
    {% endfor %}
 
 </section>


<!--------------- LLAR Section --------------->
<section class="grid-center-middle padded-1 editable">

    <div class="col-8 center">
        <h1 class="bold editable"> KONZEPT AM RAND </h1>
        <h2 class="padded-1"> Stadt – Land – Heimat </h2>
        <p> Das ist für uns der Wunsch nach Vielfalt und Vertrautheit. </p>
        <p> Wir möchten den kulturellen Reichtum der Stadt mit dem natürlichen Reichtum des Landes zusammenbringen und nachhaltig verbinden. Wir sind ein familienfreundliches – wir sind ein familiäres Festival. Wir limitieren uns liebevoll auf wenige hundert Menschen, weil wir mit dem Ort, der Natur und uns selbst behutsam umgehen. </p>
        <p> Naturschutz und Nachhaltigkeit sollen grenzenlos gedacht werden. Andernfalls kann es nicht funktionieren. Nur wenn wir gemeinsam über alle Grenzen hinaus verstehen, dass wir mit und nicht gegen die Natur leben können, werden wir in die richtige Richtung gehen. Dass das auch noch voller Freude und ohne Entbehrungen möglich ist, wollen wir mit unserem Festival zeigen und feiern. </p>
        <p> Unser Anspruch ist es, ein NoWaste Festival zu sein. Müll soll, wenn er entsteht, in jeder erdenklichen Weise wiederverwertet werden. </p> 
        <p> Und wir sind dann mal richtig konsequent und kommen mit dem Fahrrad, den öffentlichen Verkehrsmitteln oder dem Shuttlebus, damit wir der Natur und diesem Ort nicht zur Last fallen. Wenn es wirklich nicht anders geht, finden wir auch eine Lösung. </p>  
        <p> Wir freuen uns auf Euch – seid herzlich willkommen beim Liederlauschen am Rand! </p>
    </div>    

</section>


<!-- Popup Gallery  1 -->
<section class="center padded-1 capped-width-narrow">

    <div class="gallery grid">

        {% for item in page.gallery %}
            
        <div class="{{item.column-size}}"> 
            <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
            </div>
        </div>
        
        {% endfor %}

    </div>
</section>

<!--------------- LLAR Section --------------->
<section class="grid-center-middle padded-1 editable">

    <div class="col-8 center">
        <h2 class="padded-1"> Hintergrund </h2>
        <p> Seit 12 Jahren veranstaltet der Kulturverein Braumeister das LiederLauschen Festival auf dem Helmholtzplatz in Berlin. An 3 Tagen werden unter freiem Himmel hochkarätige MusikerInnen präsentiert, die ohne große Labels auskommen. Das Ganze seit Anbeginn als Umsonst & Draußen Festival zelebriert, bringt das LiederLauschen die so unterschiedlichen Nutzergruppen des Helmholtzplatzes über die Musik zusammen. Das Schicksal hat es so gewollt, dass die Initiatoren des Festivals ihren Weg in den Oderbruch zum Theater am Rand fanden. Es entstand die Idee, das LiederLauschen zum Theater zu bringen, gewissermaßen also das Zentrum an den Rand zu holen. </p>
        <p> Daraus ist 2018 das LiederLauschen Labor entstanden (ein experimentelles biografisches Musikformat mit 7 unterschiedlichen Künstlern des Festivals) mit je einer Aufführung im Theater am Rand und dem Maschinenhaus in Berlin. Das Brückenbauen fand somit seinen Anfang. </p>
        <p> 2019 wagten die LiederLauscher den kulturellen Oderbruch und veranstalteten das erste LiederLauschen am Rand. </p>
    </div>    

</section>


<!-- Contact Banner -->
<section class="padded-3 center editable bg-light"> 
    <h3> Nichts mehr verpassen! </h3>
    <a href="mailto:#" class="button button-nl"> Zum Newsletter anmelden </a>
</section>


<!--------------- NAR Section --------------->
<section class="grid-center-middle padded-1 editable">

    <div class="col-8 center">
        <h2 class="padded-1"> Natur am Rand </h2>
        <p> Das Oderbruch gilt als eines der schönsten Landschaften im östlichen Deutschland. Eine Perle der Natur, die vor etwas mehr als 250 Jahren noch wild ihre Oderarme durch die Niederungen schlängelte. Die Eindeichung und Trockenlegung der Sumpflandschaft unter König Friedrich II. machte aus sumpfiger Wildnis eines der fruchtbarsten Ackerbaugebiete und eine neue preußische Provinz, die sich aufgrund ihres Fischreichtums und wertvollen Ackerbodens zur Kornkammer Preußens und zur Speisekammer Berlins entwickelte. Den zurückgezogenen Charme hat sich das Oderbruch bis heute bewahren können und ist damit ein idealer Wohnraum für eine artenreiche Tierwelt. </p>
        <p> Inmitten des Oderbruchs, in dem 24 Seelen Dorf Zollbrücke, befindet sich das Theater am Rand, das aussieht wie ein halb geöffnetes Indianerzelt aus Holz. Es liegt malerisch zwischen Feldern und Bäumen. Auf den Wiesen spazieren Störche umher, die Blicke schweifen über grüne Äcker. </p>
    </div>
</section>
    
    <!-- Gallery 2 -->
    <section class="center padded-1 capped-width-narrow">

        <div class="gallery grid">
    
            {% for item in page.gallery-two %}
                
            <div class="{{item.column-size}}"> 
                <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
                </div>
            </div>
            
            {% endfor %}
    
        </div>
    </section>

    <!--------------- NAR Section Weiterführung --------------->
<section class="grid-center-middle padded-1 editable">

    <div class="col-8 center">
        <h3> Nützling sein </h3>
        <p> Wunderschön aber hier ein Festival feiern? Wie lässt sich unsere Feierkultur mit den Themen Arten- und Naturschutz vereinbaren? </p>
        <p> Das Thema Umweltschutz ist längst im Mainstream angekommen. Dabei wird der Mensch vor allem anhand seiner negativen Einflüsse auf die Natur beschrieben. Welchen Effekt hat jedoch dieses Selbstbild auf uns als Akteure. Können wir statt Schädling zu sein nicht auch nützlich agieren für unsere Umwelt? Diese Fragen haben uns lange beschäftigt und tun es immer noch.</p>
        <p> Mit dem LiederLauschen am Rand wollen wir ein grenzüberschreitendes Festival veranstalten, das Menschen verschiedener Herkunft und Generation zusammenbringt und zeigt wie wir als kreative Wesen unsere Fähigkeiten nutzen, positiv für Menschen  und Umwelt zu handeln.</p>
        <p> Wir wollen nicht nur ein No Waste Festival sein (indem wir beispielsweise nur Mehrweggeschirr einsetzen und biologisch abbaubare Materialien benutzen), sondern darüberhinaus darüber nachdenken wie wir mit Freude einen wertvollen Beitrag für Mensch und Natur schaffen können.</p>
        <p>Wir wollen mit euch mehr über biologische Kreislaufwirtschaft erfahren und Anregungen zur Herstellung und Verwendung alternativer und nachhaltiger Dinge des Alltags erhalten.</p> 
        <p> Wir laden Akteure und Institutionen ein, die sich nachhaltig und umweltbewusst in ihrer Region engagieren. Wir bauen die Infrastruktur dafür, das ihr mit Genuss auch ohne PKW zum Festival kommen könnt. </p> 
        <p> Das LiederLauschen am Rand soll jedes Jahr Anfang der Sommerferien stattfinden. Mit euch zusammen wollen wir Jahr für Jahr unser Festival in Richtung Nachhaltigkeit weiterentwickeln. Lasst uns zusammen Schönes bewirken!</p>
    </div>    

</section>





