---
layout: default
seo:
   title: liederlauschenamrand
   description: lorem ipsum
   social_image:
   keywords: lorem ipsum
   hide-from-google: true
banner:
   -  overlay: bg-overlay
      column-size: col-12
      aspect-ratio: tall-60
      background_image: /images/plants.jpg
faq:
   -
      topic: Was geschieht im Falle einer Absage oder Verschiebung?
      description: >-
         Müssen wir absagen, werden euch die Tickets natürlich erstattet. Auch
         wenn Ihr zum Beispiel an einem Ersatztermin nicht teilnehmen könnt,
         bekommt ihr eine Erstattung.
   -
      topic: Gibt es Tagestickets?
      description: >-
         Jein! Wenn ihr nur am Samstag kommt, bucht ihr einfach das ermäßigte
         Ticket. Am Freitag und Sonntag ist das Programm kürzer. Wenn ihr einen
         Tagesausflug für diese Tage plant, schreibt uns gern eine Mail an
         liederlauschenamrand@googlemail.com und wir finden eine Lösung.
   -
      topic: Wie sind die Hygieneauflagen?
      description: >-
         Im Prinzip wie im letzten Jahr (Wegeleitsystem, Ein- und Ausgang
         getrennt, Maske nur dort wo die Abstände nicht eingehalten werden
         können, Hygiene). Neu ist, dass Ihr ein bescheinigtes, negatives
         Testergebnis mitbringen sollt oder euch vor Ort mit einem Schnelltest
         testet.
   -
      topic: Wie komme ich zum LiederLauschen am Rand?
      description: >-
         Die verschiedenen Anfahrtsmöglichkeiten findet ihr in unserem Footer.
         Wenn ihr mit der Bahn anreisen wollt, fahrt Ihr bis zum Bahnhof Bad
         Freienwalde. Von dort sind es etwa 20 km mit dem Fahrrad bis zum
         Theater. Aufgrund der sehr geringen aktuell zugelassenen Besucherzahl
         lohnt sich ein regelmäßiger Bus Shuttle über unsere Partner nicht. Ihr
         könnt uns aber eine Nachricht schreiben und wir werden versuchen eure
         Weiterfahrt individuell zu organisieren.
   -
      topic: Wann wird das Line Up veröffentlicht?
      description: >-
         Via Facebook werden wir nach und nach unsere Künstler vorstellen. Das
         finale Programm wird erst ein paar Tage vor dem Festival
         veröffentlicht.
   -
      topic: Ist das LiederLauschen für Kinder geeignet?
      description: >-
         Auf jeden Fall. Wir sind zwar kein explizites Kinderfest, im Herzen
         geht es darum entspannt gute Live Musik zu feiern. Aber das
         LiederLauschen ist wie man so schön sagt “familienfreundlich”. Es gibt
         ein Familienareal auf der Wiese, wo gebastelt, geschminkt und getobt
         werden kann. Das Stettiner Puppentheater Pleciuga wird uns wieder die
         Ehre geben und Vorstellungen für die Kleinen geben. Ansonsten bietet
         das Gelände viel Raum für eigenen Ideen.
---

<!-- Intro Banner -->
<section class="grid">

    {% for item in page.banner %}
    <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}} {{ item.overlay }}" style="background-image: url('{{item.background_image}}');"> 
        </div>
    </div>
    {% endfor %}

</section>

<!-- Intro Text -->
<section class="capped-width grid">
    <div class="col-12 padded-1">
        <h1 class="bold padded-b-1 center"> FAQ </h1>
        <h2 class="center"> Viele Fragen - einige Antworten </h2>
        <p class="center"> Nach aktuellem Stand dürfen bis zu 100 Besucher Open Air Kultur genießen. Wir freuen uns deshalb auf ein kleines, feines Fest mit Euch und großartigen Künstlern. Neben der Vorfreude habt Ihr sicherlich einige organisatorische Fragen, die wir nachfolgend so gut wie es der aktuelle Planungsstand zulässt, beantworten wollen: </p>
    </div>

<!-- FAQ Intro-->
    <div class="col-9_md-8_xs-12 padded-1 editable">

        {% for item in page.faq %}
            <h3 id="{{ item.topic }}"> {{ item.topic }} </h3>
            <p class="padded-b"> {{ item.description }} </p> 
        {% endfor %}

        <p> Weitere Fragen rund um Organisatorisches werden wir hier sobald wie möglich ergänzen. Bis dahin euch allen eine gute Zeit! </p>
        <p> Euer LiederLauschen Team </p> 
    </div>


<!-- Sidebar -->
    <div class="col-3_md-4_xs-12 padded-1 faq-nav">
            <h3> Auf einen Blick: </h3>
        {% for item in page.faq %}
            <a href="#{{ item.topic }}"> {{ item.topic }} </a>
        {% endfor %}
        
    </div>
</section>
