* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 100%; height: auto; }

/* because Gridlex adds a negative space to the grids and depending on the design this can be quirky */
[class*=grid] { margin:0; }
[class*=col] { padding:0; }

section { position: relative; }

html {
    scroll-behavior: smooth;
}


/* Re-usable utility classes */

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }


.padded    { padding: 5%;    }
.padded-1  { padding: 1rem;  }
.padded-2  { padding: 2rem;  }
.padded-3  { padding: 3rem;  }


.padded-t  { padding-top: 5%;     }
.padded-b  { padding-bottom: 5%;  }
.padded-l  { padding-left: 5%;    }
.padded-l-0 { padding-left: 0;}
.padded-r  { padding-right: 5%;   }

.padded-0 { padding: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-t-0 { padding-top: 0; }
.padded-b-1 { padding-bottom: 1rem; }
.margin-b-0 { margin-bottom: 0; }

.margin-b-1 {margin-bottom: 1rem;}
.margin-b-2 {margin-bottom: 2rem;}
.margin-t-1 {margin-top: 1rem;}
.margin-t-2 {margin-top: 2rem;}

.bg-light     { background-color: #F9F7F3; }
.bg-dark {background-color: #f1ece2;}

.bg-green     { background-color: #9b9b81;}
.bg-green-light { background-color: #dfdfd7;}
.bg-rust     { background-color: #a2745c;  }

.landscape {padding-bottom: 60%;}
.portrait {padding-bottom: 120;}
.header {padding-bottom: 30%;}

.light-text { color: white; } 


.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

.capped-width-wide { max-width: 1600px; margin: auto; }
.capped-width { max-width: 1200px; margin: auto; }
.capped-width-narrow { max-width: 1000px; margin: auto; }
.capped-width-v-narrow { max-width: 800px; margin: auto; }

.flex-flip-alternate:nth-child(even){
    flex-direction: row-reverse;
}

/* Typography */

body{
    font-family: 'Roboto', sans-serif; 
    color: #333333;
}


h2, h3, h4, h5, h6{
    font-family: 'Didot', Georgia, serif;
}

h2, h4, h5, h6{
    padding-bottom: 0.8rem;
}

h2 { 
    font-size: 2.2rem; 
    line-height: 1;
}

h3 { font-size: 1.5rem; }
h4 { font-size: 1.4rem; }

p{ 
    font-size: 1.2rem; 
    line-height: 1.8rem;
    font-weight: 300;
    color: black;
    padding-bottom: 1rem;
}

.white{
    color: #e6e1e1;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
    padding-bottom: 0;
}

.bold{
    font-size: 4vw;
    letter-spacing: 0.2rem;
    font-family: 'Didot', Georgia, serif;
    color: #e6e1e1;
}

.subheading {
    font-size: 2vw;
    letter-spacing: 0.2rem;
    color: #e6e1e1;
}

.highlight {
    font-size: 2rem;
    font-family: 'Didot', Georgia, serif;
}

.fas {
    color: #333333; 
    margin-left: 0.5rem;
}

.fas:hover { 
    cursor: pointer;
    color: #EF2751;
 }


 /* hamburger nav */
 .hamburger-button {
    cursor: pointer;
    padding: 0 0.5rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.5;
    margin-top: -0.7rem;
    position: fixed;
    right: 1rem;
    top: 1.9rem;
    z-index: 5;
}

.mobile-menu {
    display: none; 
    background-color: #F9F7F3; 
    padding: 5%;
    position: fixed; 
    top: 0;
    left: 70%;
    right: 0;
    text-align: right;
    z-index: 3;
    padding-top: 10%;
}

.mobile-menu a {
    text-decoration: none; 
    color: inherit; 
    padding: 1rem 5%;
    display: block;
    font-weight: normal;
    font-size: 1.2rem;
}

/* images */ 
.bg-image{
    background-color: #F9F7F3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.bg-plant {
    background-image: url('/images/plants.jpg');
    background-position: 50% 65%;    
}

.bg-llar{
    background-image: url('/images/LaR2022_Titel.png');
}

.square {
    padding-bottom: 100%;
}

.landscape {
    padding-bottom: 60%;
}

.logo {
    background-size: cover; 
    max-height: 5vh;
}

.logo-footer {
    background-size: cover; 
    max-height: 25vh;
}

.llar-titel{
    background-size: cover; 
    max-height: 15vh;
}


.bg-overlay::after,
.bg-overlay-gradient::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 104, 104, 0.5);
}

.bg-overlay-gradient::after {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), #00000000);
}

.bg-overlay > *,
.bg-overlay-gradient > * {
    z-index: 2; 
    position: relative; 
}

/* galleries */

.gallery [class*="col-"]  { padding: 0.5%;}

.filterable-gallery {
    padding: 1rem;
}

.filterable-gallery [class*=col] {
    padding: 0.1rem;
}

.hidden { display: none; }

.hide { display: none;}

.filterable-gallery .overlay { 
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(255,255,255,0.5);
    min-height: 19vw; 
    display: flex;
    align-items: flex-end;
}

.filterable-gallery .gallery-item:hover p { opacity: 1; }

.filterable-gallery .gallery-item:hover .overlay { 
    opacity: 1; 
}

.filterable-gallery a {
    color: inherit;
    text-decoration: none;
}

/* Filter navigation */
.portfolio-filter span {
    text-transform: uppercase; 
    padding: 0.2rem;
}

.portfolio-filter span:hover {
    cursor: pointer;
}

.portfolio-filter .active {
    color: #EF2751;
}


/* icon*/

.tags {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* background position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


/* Header + Footer */
header {
    padding: 2% 5%;
}

/* Links */

header a {
    text-decoration: none;
    color: inherit; 
    display: inline-block;
    padding: 0 1rem;
}

.faq-nav a{
    text-decoration: none;
    color: inherit; 
    display: inline-block;
    padding-bottom: 5%;
  }

.act{
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: inherit;
}

.impressum {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

footer a {
    text-decoration: none;
    color: inherit; 
    display: inline-block;
    padding: 1rem;
}

.google { padding: 0 0 1rem 0;}

a:hover,
.act:hover{
    cursor: pointer;
    color: #EF2751;
}

.button {
    padding: 1rem 2rem; 
    display: inline-block;
    border: 1px solid #EF2751;
    background-color: #EF2751;
    border-radius: 0.2rem;
    text-decoration: none; 
    color: #F9F7F3; 
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.button-light {
    color: #EF2751;
    background-color: #FFFFFF;
}

.button-nl{
    color: #F9F7F3; 
    background-color: #28258B;
    border: 1px solid #28258B;
}

.button:hover{
    background-color: #F9F7F3;
    color: #EF2751;
    border: 1px solid #F9F7F3;
}

.button-light:hover{
    border: 1px solid #EF2751;
    background-color: #EF2751; 
    color: #F9F7F3; 
}

.button-nl:hover{
    background-color: #FFFFFF;
    color: #28258B;
    border: 1px solid #28258B;
}

.border { border: 2px #F9F7F3; }

.parent { position: relative; }

.sticker {
    position: absolute; 
  	top: 3%; 
  	right: 5%;
    border-radius: 50px;
    line-height: 1.2rem;
}

/* Mailchimp Form Styles */
.asterisk {
    color: red;
}

form input, form textarea{
    margin: 1% 0;
    padding: 0.8rem;
    border: 1px solid #28258B;
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
    background-color: white;
}

form label{
    padding: 0.8rem;
    display: inline-block;
    font-family: inherit;
}

/* Default Responsive Styles*/
.mob-show {
    display: none; 
}

/* ---------- MD Media Query (1024px) ---------- */ 

@media (max-width: 1024px) {

    h3 { font-size: 1.8rem; }
    h4 { font-size: 1.4rem; }
}

/* ---------- SM Media Query (768px) ---------- */ 

@media (max-width: 48em) {
    .big-vertical {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        font-size: 5vh;
        display: block;
        position: absolute;
        white-space: nowrap;
        top: 50%;
        right: 50%;
        }
    .other { right: -20%; }

    .mob-padded-0 {
            padding: 0;
        }
    
    h3 { font-size: 1.5rem; }

    .flex-flip-xs {flex-direction: column-reverse;}

    .mob-hide { display: none; }
  	.mob-show { display: block; }
    
    h2 { font-size: 2rem;}

    p {
        font-size: 0.9rem; 
        line-height: 1.3rem; 
    }
    .mob-button { min-width: 30vw;}
    .mob-footer { font-size: 0.9rem; }
    .mob-center { text-align: center; }
    .mob-padded { padding: 0.5rem 2rem; }
    
    #mob-height {  min-height: 70vw; }

    .sticker { 
        top: -3%;
        right: 1%;
        line-height: 0.8rem;
        font-size: 0.7rem;
    }

    .button-sm {
        padding: 0.5rem 1rem;
    }

    .center-sm { text-align: center; }

    .logo-footer { max-height: 15vh; }
}


/* ---------- XS Media Query (576px) ---------- */ 

@media (max-width: 36em) {

    .xs-vertical { right: 30%; }

    .xs-other { right: -33%; }

}

/* ---------- XXS Media Query (376px) ---------- */ 

@media (max-width: 24em) {

    .xxs-vertical { right: 13%; }

}