<!DOCTYPE html>

{% if page.language == "polish" %}

<html lang="pl">

{% else %}

<html lang="de">

{% endif %}
    
    <head>

        {% include head.html %}

    </head>
    <body> 

        {% if page.language == "polish" %}
        <!-- Header -->
        <header class="grid padded-b-1 padded-t-1 header" id="myHeader"> 
            <div class="col-1_md-3_sm-4-middle">
                <a href="/"> <img src="/images/Theater.png" alt="liederlauschen am rand logo" class="logo" /> </a>
            </div>
            
            <!-- Polish version -->
            <div class="col-3_md-1_sm-4-middle center"> 
                <a href="{{ page.url | replace: '/pl/',  '/' }}"> DE </a>
                <a href="{{ page.url }}"> PL </a>
            </div>

            <ul class="col-8-middle mob-hide padded-0 right">
                <li> <a href="#contact"> Przyjazd </a> </li>
                <li> <a href="/pl/tickets"> Bilety </a> </li>
                <li> <a href="/pl/news"> News </a> </li>
                <li> <a href="/pl/idee"> Idea </a> </li>
                <li class="dropdown"> 
                    <a href="javascript:void(0)" class="dropbtn"> Galeria </a> 
                    <div class="dropdown-content">
                        <a href="/pl/2023"> 2023 </a>
                        <a href="/pl/2022"> 2022 </a>
                        <a href="/pl/2021"> 2021 </a>
                        <a href="/pl/2020"> 2020 </a>
                        <a href="/pl/2019"> 2019 </a>
                    </div>
                </li>
                <li> <a href="/pl/programm"> Program </a> </li>
            </ul>

            <div class="col-6 right">
                <a class="hamburger-button mob-show"> &#9776; </a>
            </div>

            <div>
                <ul class="mobile-menu mobile-narrower" id="mobile-wider">
                    <li> <a href="/pl/program"> Program </a> </li>
                    <li class="dropdown"> 
                        <a href="javascript:void(0)" class="dropbtn"> Galeria </a> 
                        <div class="dropdown-content"> 
                            <a href="/pl/2023"> 2023 </a>
                            <a href="/pl/2022"> 2022 </a>
                            <a href="/pl/2021"> 2021 </a>
                            <a href="/pl/2020"> 2020 </a>
                            <a href="/pl/2019"> 2019 </a>
                        </div>
                    </li>
                    <li> <a href="/pl/idee"> Idea </a> </li>
                    <li> <a href="/pl/news"> News </a> </li>
                    <li> <a href="/pl/tickets"> Bilety </a> </li>
                    <li> <a href="/#contact"> Przyjazd </a> </li>
                </ul>
            </div>

            </header>

        {% else %}


            <!-- German version -->
        <header class="grid padded-b-1 padded-t-1 header" id="myHeader"> 
            <div class="col-1_md-3_sm-4-middle">
                <a href="/"> <img src="/images/Theater.png" alt="liederlauschen am rand logo" class="logo" /> </a>
            </div>

            <div class="col-3_md-1_sm-4-middle center"> 
                <a href="{{ page.url }}"> DE </a>
                <a href="/pl{{ page.url }}"> PL </a>
            </div>

            <ul class="col-8-middle mob-hide padded-0 right">
                <li> <a href="#contact"> Anfahrt </a> </li>
                <li> <a href="/tickets"> Tickets </a> </li>
                <li> <a href="/news"> News </a> </li>
                <li> <a href="/idee"> Idee </a> </li>
                <li class="dropdown"> 
                    <a href="javascript:void(0)" class="dropbtn"> Galerie </a> 
                    <div class="dropdown-content">
                        <a href="/2023"> 2023 </a>
                        <a href="/2022"> 2022 </a>
                        <a href="/2021"> 2021 </a>
                        <a href="/2020"> 2020 </a>
                        <a href="/2019"> 2019 </a>
                    </div>
                </li>
                <li> <a href="/programm"> Programm </a> </li>
            </ul>

            <div class="col-6 right">
                <a class="hamburger-button mob-show"> &#9776; </a>
            </div>

            <div>
                <ul class="mobile-menu mobile-narrower" id="mobile-wider">
                    <li> <a href="/programm"> Programm </a> </li>
                    <li class="dropdown"> 
                        <a href="javascript:void(0)" class="dropbtn"> Galerie </a> 
                        <div class="dropdown-content"> 
                            <a href="/2023"> 2023 </a>
                            <a href="/2022"> 2022 </a>
                            <a href="/2021"> 2021 </a>
                            <a href="/2020"> 2020 </a>
                            <a href="/2019"> 2019 </a>
                        </div>
                    </li>
                    <li> <a href="/idee"> Idee </a> </li>
                    <li> <a href="/news"> News </a> </li>
                    <li> <a href="/tickets"> Tickets </a> </li>
                    <li> <a href="/#contact"> Anfahrt </a> </li>
                </ul>
            </div>
        </header>

        {% endif %}

        {{ content }}

        <!-- Sponsor Section -->
        <section class="grid center padded-3 capped-width-narrow">
            {% if page.language == "polish" %}
            
            <div class="col-12 padded-b-1">
                <h2> Nasi obecni partnerzy </h2>
                <p> Projekt "Liederlauschen am Rand - polsko-niemiecki Oderbruch 2024" ma na celu wzmocnienie współpracy kulturalnej pomiędzy Niemcami a Polską. </p>
                <!-- <img src="/logos/fmp-kpf-logo.png" alt="kpf fmp logo" class="logo-footer img-logo" /> -->
            </div>
            
            {% else %}
            
            <div class="col-12 padded-b-1">
                <h2> Unsere aktuellen Partner </h2>
                <p> Das Projekt „Liederlauschen am Rand- ein polnisch-deutscher Oderbruch 2024“, verfolgt das Ziel die kulturelle Zusammenarbeit zwischen Deutschland und Polen zu stärken und wird von unseren <strong> starken Partnern </strong> gefördert. </p>
                <!-- <img src="/logos/fmp-kpf-logo.png" alt="kpf fmp logo" class="logo-footer img-logo" /> -->
            </div>
            
            {% endif %}

            <div class="col-6_xs-12-middle center ">
                <img src="/logos/infield-logo.png" alt="infield logo" class="logo-footer padded img-logo" /> 
            </div>
            <div class="col-6_xs-12-middle center">
                <img src="/logos/limited-blindness-logo.jpg" alt="limited blindness logo" class="logo-footer padded img-logo" /> 
            </div>
            <div class="col-4_sm-6_xs-12-middle center">
                <img src="/logos/ck-logo.jpg" alt="centrum kultury logo" class="logo-footer padded img-logo" /> 
            </div>
            <div class="col-4_sm-6_xs-12-middle center">
                <img src="/logos/sok-logo.jpg" alt="sok logo" class="logo-footer padded img-logo" /> 
            </div>
            <div class="col-4_sm-6_xs-12-middle center">
                <img src="/logos/tonfabrik-logo.png" alt="tonfabrik logo" class="logo-footer padded img-logo" /> 
            </div>
        </section>
        
        <!-- Contact Banner -->
        <section class="padded-3 center bg-light">
            
            {% if page.language == "polish" %}
            <h3> Nie przegap już niczego! </h3>
            {% else %}
            <h3> Nichts mehr verpassen! </h3>
            {% endif %}

            <!--base32-MJQXGZJTGIWUKQSCI5FVUM2KJZMVCRJSLFGEUTSSKJLVCMSMJZHUCUKGI4ZEYSCOLIZFQQKJINDU4NK2I4ZESQJ5FVRGC43FGMZA====-base32-->
            <div>
                <form action="https://liederlauschen.us20.list-manage.com/subscribe/post?u=8e644e126636bdb2289e9803e&amp;id=0c2b60dcbb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group"><label for="mce-EMAIL">Email <span class="asterisk">*</span> </label> <input type="email" value="" class="required email" id="mce-EMAIL" aria-required="true" name="EMAIL" /></div>
                        <div hidden="true"><input type="hidden" value="95601" name="tags" /></div>
                        <div id="mce-responses" class="clear foot">
                            <div class="response" id="mce-error-response" style="display:none"> </div>
                            <div class="response" id="mce-success-response" style="display:none"> </div>
                        </div>
                        <!--base32-MJQXGZJTGIWUKQS2I5FVSTCNIVBFSR2LGMZVCTSSKNJUCNBTJFHDKMSXLFNEEQKOLJMFQSKJIRDU4RSXI5MUSRCVJZBFKWCHJFCEUTSZKFDUGM2UIVCUEU2YKE2EIRSNJYZEGQK2GNIE4NKTINATKRCJJZDFQR2PGRNECRSVKFDUSM22IFHFUWCYJFEUIU2NKZLVONRVKRDEKQRSI5ITETCUIVBFQWCFJFCFGTSGLJLVOSKEI5HDKWSHGJEUIQ2OGUZEGQJUGNFE2NKYJBFTIRCUFVRGC43FGMZA====-base32-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" tabindex="-1" value="" name="b_8e644e126636bdb2289e9803e_0c2b60dcbb" /></div>
                        <div class="optionalParent">
                            <div class="clear foot grid-center border"><input type="submit" value="Subscribe" id="mc-embedded-subscribe" class="button button-nl col-2-right mob-button" name="subscribe" />
                                <p class="brandingLogo col-1-middle logo"><a target="_blank" title="Mailchimp - email marketing made easy and fun" href="http://eepurl.com/hYE3pb"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" /></a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
            <script type="text/javascript">
                (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[3] = 'ADDRESS';
                    ftypes[3] = 'address';
                    fnames[4] = 'PHONE';
                    ftypes[4] = 'phone';
                    fnames[5] = 'BIRTHDAY';
                    ftypes[5] = 'birthday';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
            <!--base32-MJQXGZJTGIWUSVSYI5EUSRCOJVHFAV2LGNGEGTKWKNDDMNBTJJGTKWCIJM2ECPJNMJQXGZJTGI======-base32-->
        </section>


        <!-- footer -->
        <footer class="grid-center padded-1 padded-b-0 bg-dark" id="contact">

        <!-- Polisch version -->
        {% if page.language == "polish" %}
            <div class="col-7_sm-12 center padded-1">
                <h3> Śledź nas i świętuj z nami! </h3>
                <nav> 
                    <a href="mailto:liederlauschenamrand@gmail.com"> <i class="fas fa-envelope"></i> </a>
                    <a href="https://www.instagram.com/liederlauschen/" target="_blank"> <i class="fab fa-instagram"></i> </a>
                    <a href="https://www.facebook.com/LiederLauschen/" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
                </nav>
                <a href="/"> <img src="/images/Theater.png" alt="liederlauschen am rand logo" class="logo-footer" /> </a>
            </div>
            <div class="col-5_sm-12 padded-1 center-sm">
                <h3 class="padded-b-1">
                    Adres!
                </h3>
                <p>
                    Theater am Rand<br />Zollbr&uuml;cke 16, 16259 Oderaue
                </p>
                <a href="https://www.google.com/maps/place/Zollbr%C3%BCcke+16,+16259+Oderaue/@52.7880407,14.2436652,15.96z/data=!4m5!3m4!1s0x47a9d8cdf17dc6bd:0x38dddcc118c428d8!8m2!3d52.787323!4d14.2478661" target="_blank" class="google editable"> Google Maps</a> <br />
                <a href="https://bassliner.org/de/fahrten/liederlauschen-am-rand-2024/berlin-ostbhf" target="_blank" class="google editable"> Bassliner Tickets</a>
                <p>
                    Więcej informacji o tym, jak się tu dostać, można znaleźć tutaj: <a href="/news.html" target="_blank" class="google editable" rel="noopener"> News </a>
                </p>
                <p>
                    Liederlauschen am Rand to wydarzenie organizowane przez Braumeister e.V. i Lea Events & Artists we współpracy z Theatre am Rand.
                </p>
            </div>
            
            <div class="col-5_sm-6-middle right padded-t-1 mob-footer">
                <p class="subtle"> Copyright 2022 </p>
            </div>

            <div class="col-2_sm-6 center padded-t-1 mob-footer">
                <p> <a href="/pl/impressum"> Nadruk </a></p>
            </div>

            <!-- German version -->
            {% else %}
            <div class="col-7_sm-12 center padded-1">
                <h3> Folgt uns und feiert mit uns! </h3>
                    <nav> 
                        <a href="mailto:liederlauschenamrand@gmail.com"> <i class="fas fa-envelope"></i> </a>
                        <a href="https://www.instagram.com/liederlauschen/" target="_blank"> <i class="fab fa-instagram"></i> </a>
                        <a href="https://www.facebook.com/LiederLauschen/" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
                    </nav>
                <a href="/"> <img src="/images/Theater.png" alt="liederlauschen am rand logo" class="logo-footer" /> </a>
            </div>
            <div class="col-5_sm-12 padded-1 center-sm">
                <h3 class="padded-b-1">
                    Adresse!&nbsp;
                </h3>
                <p>
                    Theater am Rand<br />Zollbr&uuml;cke 16, 16259 Oderaue
                </p>
                <a href="https://www.google.com/maps/place/Zollbr%C3%BCcke+16,+16259+Oderaue/@52.7880407,14.2436652,15.96z/data=!4m5!3m4!1s0x47a9d8cdf17dc6bd:0x38dddcc118c428d8!8m2!3d52.787323!4d14.2478661" target="_blank" class="google editable"> Google Maps</a> <br />
                <a class="google editable">
                    &nbsp;
                </a>
                <p class="padded-b-0">
                    Weitere Infos zur Anreise findet ihr unter: <a target="_blank" class="google editable" rel="noopener" href="/news.html">News</a>
                </p> 
                
                
                <p>
                    Liederlauschen am Rand ist eine Veranstaltung von Braumeister e.V. und Lea Events &amp; Artists, in Kooperation mit dem Theater am Rand.
                </p>
            </div>

            <div class="col-5_sm-6-middle right padded-t-1 mob-footer">
                <p class="subtle"> Copyright 2022 </p>
            </div>

            <div class="col-2_sm-6 center padded-t-1 mob-footer">
                <p> <a href="/impressum"> Impressum </a></p>
            </div>
            
            {% endif %}

            <div class="col-5_sm-12-middle padded-t-1 mob-footer mob-center">
                <p> <a href="https://lesleyrudolph.com" target="_blank" class="padded-0"> Design by L2R </a></p>
            </div>
        </footer>

        <!--------------------- Add jQuery -------------------->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>

        <!-------------- Lightgallery for pop-ups  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

        <!-------------- custom javascript files -------------->
        <script src="/scripts.js"></script>    

        <!-------------- ticket system javascript files --------------> 
        <script src="https://partners.goout.net/de-other/liederlauschenamrand.js"></script>
        

    </body>
</html>
</html>