---
layout: default
---
<!-- Intro Banner -->
<section class="grid">

    {% for item in page.banner %}
    <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}} {{ item.overlay }}" style="background-image: url('{{item.background_image}}');"> 
        </div>
    </div>
    {% endfor %}
 
 </section>

<!-- Impressum Main -->
<section class="padded-1 editable">
        <h1 class="bold editable"> {{page.headline}} </h1>
        <h2> {{page.title}} </h2> 
        <p class="padded-b-0"> {{page.company-name}} </p>
        <p class="padded-b-0"> {{page.street}} </p>
        <p class="padded-b-0"> {{page.city}} </p>
        <p class="padded-b-0"> {{page.register}} </p>
        <p class="padded-b-0"> {{page.court}} </p>
        <p class="padded-b-0"> {{page.responsibles}} </p>
        <p class="padded-b-0"> {{page.contact}} </p>
</section>

<!-- Impressum Inhalt -->
<section class="padded-1 editable">
    {% for item in page.disclaimer %}
    <h2>{{item.header}}</h2>
    <p>{{item.disclaimer-content-1}}</p>
    <p>{{item.disclaimer-content-2}}</p>
    {% endfor %}
    <p class="subtle">Quelle: e-recht24.de</p>
</section>