---
layout: default
---
<!-- Intro Banner -->
<section class="grid">

    {% for item in page.banner %}
    <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}} {{ item.overlay }}" style="background-image: url('{{item.background_image}}');"> 
        </div>
    </div>
    {% endfor %}
 
 </section>
 
 
 <!-- Headliner
 <section class="grid capped-width-narrow"> 
 
   <div class="center padded-1">
       <h2 class="padded-2"> Headliner </h2>
     
       {% for item in page.featured %}
       <div class="act">
         <h3> <a href="#" class="act"> {{ item.bandname }} </a> </h3>
       </div>
       {% endfor %}
 -->
 
 <!-- Lineup -->
 <section class="capped-width-narrow padded-1">
 
    {% for item in page.heading %}
    <h1 class="bold padded-b-1 center"> {{ item.heading }} </h1>
    {% endfor %} 
 
    {% for item in page.lineup %}
    <div class="padded-1">
       <h2 class="center"> {{ item.title }} </h2>
       <p> {{ item.description }} </p>
    </div>
    {% endfor %}
 
    <!-- 
    <div class="center padded-b">  
       <a class ="link" href="/2019"> 2019 </a>
       <a class ="link" href="/2020"> 2020 </a>
       <a class ="link" href="/2021"> 2021 </a>
       <a class ="link" href="/2022"> 2022 </a>
    </div> 
    -->
 
   {% for item in page.rueckblick %}
    <div class="padded-1">
       <h2 class="center"> {{ item.title }} </h2>
       <p> {{ item.description }} </p>
    </div>
   {% endfor %}

   {% if page.language == "polish" %}

   <div class="portfolio-filter center padded-b-1" id="portfolio-filter-pl">
      <span>Wszystkie Dni</span> /
      <span>Piątek</span> /
      <span>Sobota</span> /
      <span>Niedziela</span> 
   </div>

   {% else %}

   <div class="portfolio-filter center padded-b-1" id="portfolio-filter">
      <span>Alle Tage</span> /
      <span>Freitag</span> /
      <span>Samstag</span> /
      <span>Sonntag</span> 
   </div>

   {% endif %}
 

   <div class="grid-center margin-b-2 filterable-gallery" id="filterable-gallery">
         
     {% for item in page.bands %}
       <div class="col-4_sm-6_xs-12 padded-2 {{ item.type }} gallery-item">
          <a href="{{ item.url }}" target="_blank">
             <div class="bg-image" style="background-image: url('{{item.background_image}}');"> 
                <div class="overlay" id="mob-height"> </div>
             </div>
             <h3 class="center {{ item.tag }}"> {{ item.name }} </h3>   
          </a>
       </div>
     {% endfor %} 
 
   </div>
 </section>
 
 <!-- Workshops -->
 <section class="grid-center padded padded-b-0 capped-width">
     {% for item in page.header %}
     <div class="col-12 center padded-b-1">
         <h2>
             Workshops 2024
         </h2>
     </div>
     {% endfor %}
     {% for item in page.workshops %}
 
     <div class="col-4_md-6_sm-12 padded-2 mob-padded">
         <h3> {{ item.title }} </h3>           
         <p> {{ item.description }}</p>
     </div>
 
     {% endfor %}    
 
 </section>
 
 <!-- Popup Gallery -->
 <section class="center padded-1 bg-light">
 
    <div class="gallery grid capped-width-narrow" id="lightgallery">
 
        {% for item in page.gallery %}
            
        <a class="{{item.column-size}}" href="{{item.background_image}}"> 
            <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"> 
            </div>
        </a>
        
        {% endfor %}
 
    </div>
 </section>
 