---
layout: default
---
<!-- Intro Banner -->
<section class="grid">

    {% for item in page.banner %}
    <div class="{{item.column-size}}"> 
        <div class="bg-image {{item.aspect-ratio}} bg-overlay" style="background-image: url('{{item.background_image}}');"> 
        </div>
    </div>
    {% endfor %}
 
</section>

{% if page.language == "polish" %}

<!-- Ticketsystem-->
<section class="padded-1 center capped-width-narrow">
    <h1 class="bold editable padded-1"> {{ page.headline }} </h1>
    <a href="{{ page.url | replace: '/pl/tickets', '/tickets' | replace: '.html', '' }}" class="button button-light margin-b-1"> Tickets </a>
    <div class="bg-light" id="{{ page.widget }}"></div> 
</section>

{% else %}

<!-- Ticketsystem-->
<section class="padded-1 center capped-width-narrow">
    <h1 class="bold editable padded-1"> {{ page.headline }} </h1>
    <a href="/pl{{ page.url | replace: '.html', '' }}" class="button button-light margin-b-1"> Bilety </a>
    <div class="bg-light" id="{{ page.widget }}"></div> 
</section>

{% endif %}